<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Regression" parallel="tests" thread-count="2"
	group-by-instances="true">

	<test name="Valentine tests 1">
		<classes>
			<class name="com.valentine.test.AddItemToCartTest"></class>
		</classes>
	</test>

	<test name="Valentine tests 2">
		<classes>
			<class name="com.valentine.test.ContinueShoppingFromYourCartTest"></class>
		</classes>
	</test>

	<!-- <test name="Vira's valentine test"> -->
	<!-- <packages> -->
	<!-- <package name="*/ViraTarkovska/test"></package> -->
	<!-- </packages> -->
	<!-- </test> -->

</suite>