<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Regression" preserve-order="true">

	<test name="Valentine tests" preserve-order="true">
		<classes>
			<class name="com.valentine.test.AddItemToCartTest"></class>
			<class name="com.valentine.test.ContinueShoppingFromYourCartTest"></class>
		</classes>
	</test>

	<test name="Vira's valentine test" preserve-order="true">
		<classes>
			<class name="com.valentine.test.AletrsForYourNameYourEmailTest"></class>
			<class name="com.valentine.test.CodeDropdownChapter3OpensTest"></class>
			<class name="com.valentine.test.ContactUsInvalidEmailTest"></class>
			<class name="com.valentine.test.PurchaseFormsPurchButton_DropTest"></class>
		</classes>
	</test>


</suite>